:root {
    --color-light-pink: #F7EBE5;
    --color-black-text: #2B1414;
    --color-background: #F7F7F7;
    --color-pink: #FFDBC3;
    --color-hot-pink: #FFC2CC;
    --color-mint: #B4EAB3;
    --color-pinki: #FDD5CD;
    --color-blue: #A8DCDF;
    --color-violet: #C4C6EC;
    --color-navy-blue: #8CC4EC;
    --color-scarlet: #FF4D6D;
    --color-black-header: #292929;
    --color-black: #000000;
    --color-accent: #E7426A;
    --color-blue-border: #4E9DD3;
    --color-white: #FFFFFF;
}


body, html {
    font-family: 'Montserrat';
    margin: 0;
}

.navigation__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navigation__link {
    text-decoration: none;
    font-family: inherit;
    color: var(--color-black);
}

.preview {
    background-color: var(--color-background);
    padding: 40px 148px;
}

.preview__content {
    display: flex;
    justify-content: space-around;
    gap: 140px;
}

.preview__additional-images {
    position: relative;
}

.preview__layer {
    position: absolute;
}

.preview__layer-1 {
    bottom: 60px; 
    left: 400px;
}

.preview__layer-2 {
    bottom: 315px;
    left: 430px;
}

.preview__layer-3 {
    bottom: 360px;
}

.preview__layer-4 {
    bottom: 200px;
    left: 450px;
}

.preview__layer-5 {
    bottom: 50px;
}

.preview__layer-6 {
    bottom: 400px;
    left: 150px;
}

.preview__layer-7 {
    bottom: 10px;
    left: 130px;
}

.preview__layer-8 {
    bottom: 250px;
    left: 500px;
}

.preview__layer-9 {
    bottom: 130px; left: -120px;
}

.preview__layer-10 {
    bottom: 4px; left: 50px;
}

.preview__layer-11 {
     bottom: 80px; left: -30px;
}

.preview__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 14px;
}

.preview__header {
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    color: var(--color-black-header);
    text-align: center;
    margin: 0;
}

.preview__text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-black-header);
}

.options {
    background-color: var(--color-background);
    padding-bottom: 94px;
}

.options__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.options__ready-set {
    background: url(images/Group\ 188.png);
    background-repeat: no-repeat;
}

.options__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--color-black);
}

.options__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.options__set {
    background: url(images/Group\ 189.png);
    background-repeat: no-repeat;
}

.options__custom {
    background: url(images/Group\ 190.png);
    background-repeat: no-repeat;
}

.options__wedding {
    background: url(images/Group\ 191.png);
    background-repeat: no-repeat;
}

.options__gift {
    background: url(images/Group\ 192.png);
    background-repeat: no-repeat;
}

.options__wholesale {
    background: url(images/Group\ 193.png);
    background-repeat: no-repeat;
}

.ready-set__content,
.set__content,
.custom__content,
.wedding__content,
.gift__content,
.wholesale__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 580px;
    max-width: 570px;
    padding: 36px 0 33px;
    flex-grow: 1;
}

.promotions {
    background-color: var(--color-background);
}

.promotions__title {
    color: var(--color-black-header);
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin-top: 0;
}

.promotions__content {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.promotions__delivery,
.promotions__new-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 270px;
    height: 380px;
}

.promotions__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-white);
    text-align: center;
}

.delivery__info {
    background-color: var(--color-navy-blue);
}

.new-items__info {
    background-color: var(--color-scarlet);
}

.holidays {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-background);
    position: relative;
}

.holidays__title {
    padding-bottom: 35px;
}

/* .holidays__line {
    width: 1150px;
    max-width: 100%;
    border: 1px grey dashed;
    position: absolute;
    top: 45%; left: 12%;
    z-index: 0;
} */

.holidays__naming {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    z-index: 1;
}

.holidays__icon-hb {
    position: relative;
}

.holidays__image {
    position: absolute;
    bottom: 140px; left: 35px;
}

.naming {
    width: 180px;
    height: 51px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.sets {
    background-color: var(--color-background);
    padding: 0px 135px;
}

.sets__header {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 42px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: var(--color-black-header);
    text-align: center;
}

.sets__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 35px;
}

.sets__card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border: 1px solid #EDEDF0;
    width: 100%;
    max-width: 370px;
}


.sets__info {
    padding: 21px 22px;
}

.sets__naming {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-black-header);
    margin: 0;
}

.sets__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.sets__order {
    display: flex;
    /* padding: 14px 21px; */
    border-top: 1px solid #EDEDF0;
}

.sets__price {
    color: var(--color-accent);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding: 14px 72px 14px 21px ;
}

.sets__button {
    border: none;
    background-color: var(--color-white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-black);
    gap: 10px;
    font-family: inherit;
    cursor: pointer;
    border-left: 1px solid #EDEDF0;
    padding: 14px 21px;
}

.sets__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 85px;
}

.sets__button_large {
    background: none;
    border: 1px solid var(--color-blue-border);
    width: 293px;
}

.news {
    background-color: var(--color-background);
}

.news__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 29px;
    padding-bottom: 35px;
}

.news__title {
    padding-bottom: 40px;
}

.news__header {
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: var(--color-black-header);
}

.news__card {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    width: 370px;
    border: 1px solid #EDEDF0;
}

.news__card-text {
    padding: 20px 20px 20px 20px;
}

.news__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #969696;
}

.news__buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 85px;
}

.news__button {
    width: 189px;
}

.advantages {
    background-color: var(--color-background);
}

.advantages__header {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: var(--color-black-header);
    margin: 0;
    text-align: center;
    padding-bottom: 40px;
}

.advantages__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 134px 37px 134px;
}

.advantages__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 270px;
}

.footer {
    background-color: #EBEDEE;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 58px 134px;
    flex-wrap: wrap;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer__icons {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer__icons-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
}

.icon {
    width: 44px;
}

.icon_1 {
    width: 49px;
}

.icon_2 {
    width: 28px;
}

.footer__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: var(--color-black-header);
}

.footer__info-address {
    width: 370px;
}

.footer__address {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgb(105, 104, 104);
}

.footer__content {
    display: flex;
    gap: 30px;
}

.footer__list {
    list-style: none;
    padding: 0;
    gap: 10px;
}

.footer__list-item {
    margin-bottom: 10px;
}

.footer__link {
    text-decoration: none;
    color: var(--color-black);
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.social-media__list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 18px;
}

.footer__call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 151px;
    gap: 5px;
}

.footer__number {
    margin: 20px 0 0 0;
}

.footer__social-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.developer {
    background-color: #EBEDEE;
}

.developer__name {
    text-align: center;
    color: var(--color-black-header);
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin: 0;
}

@media (max-width: 1100px) {
    .preview__intro {
        order: -1;
    }

    .preview__content {
        flex-wrap: wrap;
    } 
    
   
}

@media (max-width: 820px) {
    .preview__header {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
    }

    .preview__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
    }

    .preview__additional-images {
        display: none;
    }

    .preview__main-image {
        width: 256px;
    }

    .preview__content {
        gap: 40px;
    }

    .options {
        padding: 20px;
    }

    .options__text {
        display: none;
    }

    .options__image {
        display: none;
    }
    
    .options__content {
        flex-direction: column;
        justify-content: center;
    }

    .options__background {
        background-image: none;
        border-bottom: 1px solid grey;
    }

    .options__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    .options__media {
      padding: 0;
      padding-bottom: 16px;
      flex-direction: row;
      flex-shrink: 1;
      max-width: 300px;
    }

    .promotions__new-items {
        display: none;
    }

    .delivery__info {
        background: linear-gradient( white, rgb(126, 126, 201));
        position: absolute;
        top: 250px;
        height: 158px;
        display: flex;
        align-items: center;
    }

    .promotions__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .promotions__delivery {
        position: relative;
        height: max-content;
    }

    .sets__header {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .sets {
        padding: 0px 16px;
    }

    .footer {
        padding: 33px 36px;
        justify-content: center;
        gap: 30px;
    }

    .footer__content {
        display: none;
    }
}

@media(max-width: 500px) {
    .preview {
        padding-left: 40px;
    }

    .sets__card {
        width: 140px;
    }

    .sets__price {
        padding: 8px 15px 11px 12px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    .sets__naming {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
    }

    .sets__description {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    .button__name {
        display: none;
    }

    .sets__button {
        padding: 8px 11px;
    }

    .sets__button_large {
        width: 218px;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        height: 40px;
    }

    .news__card-media {
        display: none;
    }

    .news__card {
        width: 140px;
        height: 270px;
    }

    .news__card-text {
        padding: 10px 10px 30px 10px;
    }

    .news__date {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 5px;
    }

    .news__naming {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
    }

    .news__button {
        width: 130px;
        height: 40px;
    }

    .news__buttons {
        padding-bottom: 50px;
    }

    .sets__buttons {
        padding-bottom: 50px;
    }

    .sets__header {
        padding-top: 61px;
    }

    .advantages__header {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 18px;
    }

    .advantages__card {
        width: 140px;
    }

    .advantages__content {
        padding: 0px 16px 63px 17px;
    }

    .advantages__heading {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
    }

    .advantages__description {
        font-size: 10px;
        line-height: 12px;
    }

    .developer {
        display: none;
    }

    .footer__icons {
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }

    .footer__icons-1 {
        flex-direction: row;
        width: 230px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .footer__info-address {
        width: 173px;
    }

   .footer__address {
        display: none;
        font-size: 10px;
        line-height: 12px;
    }

    .footer__social {
        gap: 10px;
    }

    .footer__number {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
    }

    .footer__social-media {
        width: 122px;
    }
   }